@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Setting fonts and styling for whole page */

ul {
    font-family: "Inter", serif;
    list-style-type: none;
}


div {
    font-family: "Inter", serif;
}

button {
    font-family: "Inter", serif;
}

/* Styling for header */

.headerbox a {
    color: black;
    text-decoration: none;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.logo img {
    width: auto;
    height: 100px;
}

.heading ul {
    display: flex;
    gap: 20px;
}

/* Styling for hero section */

.underlined {
    text-decoration: underline;
}

.topheading {
    font-size: 70px;
}

.bottomheading {
    font-size: 90px;
    color: #2C7A6D;
}

.offer {
    max-width: 1000px;
    font-size: 17px;
}

.herosection {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.herosection button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.mainbutton {
    background-color: #2C7A6D;
    color: white;
}

.secondarybutton {
    color: white;
    background-color: black;
}